body {
    margin: 0;
    background: rgb(29,185,84);
    background: radial-gradient(circle, rgba(29,185,84,1) 0%, rgba(14,147,13,1) 100%);
}

h1 {
    font-size: 12vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #d9d99b, #94b67f, #d9d99b, #322c13);
    -webkit-background-clip: text;
    color: transparent;    
}

.bi-spotify {
    fill: #d9d99b;
}

.Buttons {
    background-color: #d9d99b;
    height: 9vh;
    width: 50vh;
    border-radius: 40vh;
    border-color: #322c13;
    border-style: solid;
    border-width: 0.7vh;
    cursor: pointer;
}

.Buttons:hover {
    background-color: #322c13;
}

#connectButton {
    padding: 10px;
}

h2 {
    font-size: 3vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #322c13;
}
